*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 50%;
    height: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#BGC{
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
    font-size: x-large;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
#BGC:hover{
    transform: scale(1.1); 
    background-color: black;
    font-weight: bold;
    color: white;
}

#color{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#colorCode {
    font-size: x-large;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
}

#colorCode:hover {
    transform: scale(1.1);
    text-decoration: underline;
}